.page-container {
  min-height: 100vh;
  background: linear-gradient(to right, #e3f2fd, #bbdefb);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.form-card {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h2 {
  text-align: center;
  color:  #1976d2;
  margin-bottom: 30px;
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: border 0.2s ease;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #251f78;
}

button {
  background-color: #1976d2;
  color: white;
  font-size: 16px;
  /* padding: 12px; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #115293;
}
